.top{
    max-width: 70%;
    height: auto;
}
body{
    background-color: #000000;
        min-width: 700px;
        font-family: 'Noto Serif JP', serif;
}
main{
    text-align: center;
}
#index{
    background-image: url(img/kabaneritop.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
header ul li a{
    display: block;
    padding: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
header nav ul{
    display: flex;
    list-style: none;
    margin: 100px 0 0 30px;
}
a:hover{
    font-size: 20px;
}
