.key{
    -ms-writing-mode:tb-rl;
    writing-mode: vertical-rl;
    text-align: center;
    width: 59%;
    margin: 100px;
}
div  li a{
    display: block;
    padding: 1rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
footer{
    font-size: 15px;
    text-align: center;
    margin: 100px;
    color: white;
}
.gazou1{
    margin: 0 0 0 1200px;
}
.gazou2{
    width: 968px;
    height: 2516px;
    margin: 0 0 0 200px;
}
.top{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 50px;
    margin: 0 0 0 900px;
}