h1{
    font-family: HGP創英角ﾎﾟｯﾌﾟ体;
    padding-left: 170px;
}
table,th,td{
    border: solid 5px black;
    border-collapse: collapse;
}
img{
    width: 60%;
    width: 300px;
    height: 250px;
}
td{
    font-family: HGP創英角ﾎﾟｯﾌﾟ体;
    font-size: 20px;
}
caption{
    font-family: HGP創英角ﾎﾟｯﾌﾟ体;
    font-size: 30px;
}
th{
    background-color: aqua;
}